/* BASE CSS (Initial Setup)
-------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
        #BASE LAYOUT
            #SIMPLE RESET
            #MEDIAQUERIES
            #CONTAINER
            #GRID SYSTEM
                #CLEARFIX
        #BASE SITE
            #SITE STRUCTURE
                #HEADER
                    #site-id (LOGO)
                #FOOTER
                #SECTIONS
                #SUB PAGES
            #SITE NAVIGATION
                #TOGGLE-NAV (Default for Small Screens)
----------------------------------------*/

/* TYPOGRAPHY */
body {
    font-size: 87.5%;  /* 14 px = 1em */
    font-family: graphie, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgba(0,0,0,0.85);
}

/* HEADINGS */
/* 
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16    
*/
h1,h2,h3,h4,h5,h6 {
    margin: 0.5em 0;
}

h1 {
    font-size: 3em; /* 48 px */
    line-height: 1;
}

h2 {
    font-size: 2.25em; /* 36 px */
    line-height: 1.1;
}

h3 {
    font-size: 1.5em; /* 24 px */
    line-height: 1.2;
    font-family: Century Gothic;
    font-weight: bold;
}

h4 {
    font-size: 1.3125em; /* 21 px */
    line-height: 1.3;
}

h5 {
    font-size: 1.125em; /* 18 px */
    line-height: 1.4;
}

h6 {
    font-size: 1em; /* 16 px */
    line-height: 1.5;
    font-family: Century Gothic;
    font-weight: bold;
}

/* PARAGRAPHS */
p {
    margin: .5em 0;
    max-width: 60ch;
}

/* LINKS */
a {
    color: rgba(255, 83, 15, 1);
    text-decoration: none;
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

.button.alt {
    border: 1px solid #007906;
    background-color: #007906;
    color: rgba(255,255,255, 1);
}

.button {
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    background-color:#ff6305;
    color: rgba(255,255,255, 1);
    padding: 1.2em;
}

/* LAYOUT */

/* SIMPLE RESET */
* { box-sizing: border-box; }
body  { margin: 0;}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

/* MEDIA QUERIES */

@media (min-width: 768px)  {
    /* TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1050px)  {
    body  {
        font-size: 100%;  /* 16px */
    }
}

@media (min-width: 1250px)  {
    body  {
        font-size: 112.5%;  /* 18px*/
    }
    .container {
        max-width: 1300px;
    }
}

/* FOR DEMO PURPOSES ONLY */
body.demo {
    padding-top:  2em;
}
body.demo::before {
    content:"Small Screen (Mobile) Less Than 768px";
    background-color: rgb(193, 214, 255);
    width: 100%;
    position: fixed;
    top: 0%;
    text-align: center;
    color: rgb(37, 37, 37);
    padding: .4em;
}

@media (min-width: 768px)  {
    body.demo::before {
        background-color: rgb(161, 194, 255);
        content:"Midsize (Tablet) Screen 768px - 1050px";
    }
}

@media (min-width: 1050px)  {
    body.demo::before {
        background-color:rgb(120, 164, 245);
        content:"Large (Laptop) Screen 1050px - 1250px";
    }
}

@media (min-width: 1250px)  {
    body.demo::before {
        background-color: rgb(90, 137, 223);
        content:"Extra Large (Desktop) Screen 1250px +";
    }
}

/* SEMANTIC GRID SYSTEM */
.row > .column {
    margin-bottom: 4%;
}

@media (min-width: 768px)  {

    .row {
        display: flex;
        justify-content: space-between;
        margin-right: -2%;
        margin-left: -2%;
    }

    .row > .column  {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-half {
        max-width: 46%;
    }

    .row > .column.one-third {
        max-width: 29.333%;
    }

    .row > .column.two-thirds {
        max-width: 62.666%;
    }
    
    .row > .column.one-fourth {
        max-width: 21%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}


/* FOR DEMO PURPOSES ONLY */
.demo .column  {
    background: rgba(0,0,0,.1);
    padding: 1em;
    text-align: center;
}

/* SITE STRUCTURE */

/* SITE HEADER */
.site-header {
    padding: 0 0 .5em 0;
}

/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* STYLING FOR BOTH HEADER AND FOOTER */
.site-header a,
.site-footer a {
    color: rgba(0,0,0,.8);
}
.site-header a:hover,
.site-footer a:hover {
    color: rgba(0,0,0,1);
    text-decoration: none;
}

/* LOGO AREA */
.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

/* SITE NAV */
.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-nav a {
    display: block;
    padding: 1em;
}

.site-nav .menu-button {
    display: none;
}

/* SECTIONS */
section {
    padding: 3em 0;
}

/* HERO */
.hero {
    padding: 6em 1em;
    background-color: rgba(0,0,0,.1);
    text-align: center;
}
.hero h1, p {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

/* TOGGLE NAV */

@media (max-width: 767px) {
    .toggle-nav .site-id {
        position: absolute;
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: .3em .8em;
        margin-bottom: .8em;
        border: 1px solid orange;
    }
    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgba(255,255,255,0);
    }
        
    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }
    .toggle-nav .site-nav a:hover {
        background-color: #ffe851;
        color: rgba(0,0,0,.8);
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* NAVICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border:none;
        color: rgba(255,255,255,0);
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        padding: 0 .8em;
        margin: 0;
        color: rgba(0,0,0,.8);
        font-size: 1.5em;
    }
    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }

    /* LOGO PLACE ON SMALL SCREENS */
    .site-id {
        /* background-color: slateblue; */
        margin-top: .4em;
    }
}

/* ON LARGE SCREENS HIDE HOME */
@media (min-width: 768px) {
    .hidden-desktop {
        display: none;
    }
}

.site-id h1 {
    color: #999;
    font-weight: normal;
}

.site-id h1 a {
    font-weight: bold;
}

/* CUSTOM SITE CSS */

.section-title {
    text-align: center;
    margin-bottom: 3em;
}

.section-title::after {
    content: "";
    display: block;
    width: 50px;
    margin: 0.5em auto;
    border-bottom: 5px solid rgba(0,0,0,.2);
}

.site-header.sticky {
    position: fixed;
    width: 100%;
    background:rgba(255,255,255,1);
    top: 0;
    z-index: 100;
}

.site-header.sticky+main {
    padding-top: 3em;
}

#about {
    background: rgba(0,0,0,0.05);
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 3em;
}

#contact {
    background: rgba(0,0,0,0.05);
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 3em;
}

@media (min-width:768px) {
    #contact {
        padding-bottom: 5em;
    }
}

/* FOR FINAL V1 */
@media (min-width:768px) {
    .site-nav {
        /* background-color: blue; */
        font-size: 80%;
    }
    .site-nav li {
        /* background-color: blue; */
        margin-left: 1em;
        margin-right: 1em;
    }
    .row img  {
        margin-bottom: 1.5em;
    }
}

.site-main .hero {
    background-image: url(../img/herohero.jpg);
    background-size: cover;
    background-position: center;
    /* background-position-x: 0;
    background-position-y: 100%; */
    padding: 23vh;
    color: rgba(0,0,0,0);
    max-width: 100%;
    height: auto;
}

/* .selector img{
    position: absolute; top:0; left: 0;
    width: 100%;
    height: auto;
} */

.row .button {
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    width: 560px;
    margin-left: 1%;
    margin-right: 1%;
    max-width: 98%;
}

.row .button.scroll {
    font-weight: bold;
}

.site-id h1 img {
    max-width: 150px;
    padding-top: .5em;
}

.column.one-third p,h6 {
    text-align: center;
}

.column.one-third p {
    font-size: 80%;
}

.site-footer {
    background-color: #8ccd33;
}

.site-footer a {
    font-weight: bold;
    color: #007906;
}

.site-footer ul {
    justify-content: left;
}

.container h3 {
    text-align: center;
}

.mid .row .button {
    display: flex;
    font-size: 70%;
    padding: 0;
    max-width: 100px;
    justify-content: center;
    padding-top: .8em;
    padding-bottom: .8em;
    margin-top: 4em;
}

.mid .row .button.first {
    background-color: #007906;
}

.mid .row .button.second {
    background-color: #8ccd33;
}

.bottom .row .button {
    display: flex;
    font-size: 70%;
    padding:0;
    max-width: 130px;
    justify-content: center;
    padding-top: .8em;
    padding-bottom: .8em;
    margin-top: 2em;
}

.container .mid img {
    border-radius: 2em;
    /* max-height: 400px; */
}

.container .mid .column.one-half.catering img {
    border-radius: 2em;
    /* max-height: 380px; */
}

.mid {
    /* background-image: url(../img/mid\ back.png); */
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05);
    padding: 2em;
    border-radius: 2em;
}

.mid .row h3 {
    padding-top: 2em;
}

.mid .row p {
    padding-top: 1em;
}

.mid .row > .column {
    margin-bottom: 0%;
}

.bottom {
    position: relative;
}

.bottom::before {
    background-image: url(../img/circle.png);
        background-repeat: no-repeat;  
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
}

.bottom .row img {
    border-radius: 2em;
    max-width: 100%;
}

#REWARD img {
    position: absolute;
    margin-left: 3em;
}

/* .cropping {
    max-width: 300px;
    overflow: hidden;
}

.cropping img {
    border-radius: 2em;
    max-width: initial;
} */

.bottom p {
    text-align: left;
    margin-top: 5.5em;
}

.bottom h3 {
    margin-bottom: 1em;
    text-align: left;
}

.site-nav .fa {
    padding: 15px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 100px;
    text-align: right;
}

/* HEADER SIGN IN AND UP */
.sign {
    display: flex;
    background-color: #8ccd33;
    font-size: 80%;
    padding: 0 .5em;
    justify-content: flex-end;
}

.sign ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.sign li {
    margin: 0;
    padding: 0;
}

.sign a {
    padding: 1em;
    display: inline-block;
    color: white;
}

.site-nav {
    padding-top: .5em;
}

/* SWIPER */
.swiper-container {
    width: 100%;
    height: 100%;
}



